<%= form_for(@repository) do |f| %>
  <% if @repository.errors.any? %>
    <div class="alert">
      <ul>
      <% @repository.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: 30%>
  </div>
  <div class="field">
    <%= f.label :pass %><br>
    <%= f.password_field :password, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm:' %><br>
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: '100x6' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
