<%= form_for(@repository, url: {action: :new},) do |f| %>
  <% if @repository.errors.any? %>
    <div class="alert">
      <ul>
      <% @repository.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, translate(:repo_form_title), class: 'right' %>
    <%= f.text_field :title, size: 40, :autocomplete => :off%>
  </div>
  <div class="field">
    <%= f.label :pass, translate(:repo_form_pass), class: 'right' %>
    <%= f.password_field :password, size: 40, :autocomplete => :off%>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, translate(:repo_form_confirm), class: 'right' %>
    <%= f.password_field :password_confirmation, size: 40, :autocomplete => :off%>
  </div>
  <div class="field">
    <%= f.label :description, translate(:repo_form_desc), class: 'right' %>
    <%= f.text_area :description, size: '52x6', :autocomplete => :off%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% content_for :info do %>
  <div id="info">
    <p>* If the password remains empty, a secure random password will be generated</p>
    <div id="clear"></div>
    <p><%=translate :repo_form_info%></p>
  </div>
<% end %>