<% content_for :header do %>
    Please login
<% end %>

<%= render 'layouts/notifications.html.erb' %>

<div id="login">
  <%= form_tag(controller: 'repositories', action: 'authenticate', method: 'post') do %>
      <div>
          <%= label_tag :password, 'Password:' %>
          <%= password_field_tag :password, params[:password], :autocomplete => :off %>
      </div>
      <div>
          <%= submit_tag 'Login' %>
      </div>
  <% end %>
</div>