<% content_for :header do %>
    <%= @repository.title %>
<% end %>

<%= render 'layouts/notifications.html.erb' %>

<% if not @repository.description.blank? %>
  <strong>Description</strong>
  <p class="description">
    <%= @repository.description %>
  </p>
<% end %>

<p>
  <strong>Created:</strong>
  <%= @repository.creation %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @repository.deletion %>
</p>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if @records.length == 0 %>
    <tr>
      <td>No records</td><td colspan="2"></td>
    </tr>
  <% else %>
    <% @records.each do |record| %>
      <tr>
        <td>
          <%= link_to(controller: :records, action: :show, id: @repository.token, record_id: record.token) do%>
            <%=record.file_name%>
          <% end %>
        </td>
        <td class="center"><%= human_readable_bytes(record.size) %></td>
        <td class="right"><%= button_to('Delete', {controller: :records, action: :delete, id: @repository.token, record_id: record.token}, method: 'delete')%></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>


<h3>File Upload</h3>
<%= form_tag({controller: :records, action: :create}, method: :put, multipart: true) do %>
    <%= file_field_tag 'file' %><%= submit_tag 'Upload' %>
<% end %>
