<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @repository.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>Created:</strong>
  <%= @repository.created %>
</p>

<%= link_to 'Back', repositories_path %>
