<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @repository.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>Created:</strong>
  <%= @repository.creation %>
</p>

<%= form_tag({controller: :records, action: :create}, multipart: true) do%>
    <%= file_field_tag 'file' %>
    <div class="actions">
      <%= submit_tag 'Upload' %>
    </div>
<% end %>

<%= link_to 'Back', repositories_path %>
