<h2 id="header">Repository</h2>
<div id="material">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p>
  <strong>Title:</strong>
  <%= @repository.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>Created:</strong>
  <%= @repository.creation %>
</p>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td>
          <%= link_to(controller: :records, action: :show, id: @repository.token, record_id: record.token) do%>
            <%=record.file_name%>
          <% end %>
        </td>
        <td><%= record.size %></td>
        <td><%= button_to('Destroy', {controller: :records, action: :delete, id: @repository.token, record_id: record.token}, method: 'delete')%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag({controller: :records, action: :create}, method: :put, multipart: true) do %>
    <%= file_field_tag 'file' %>
    <div class="actions">
      <%= submit_tag 'Upload' %>
    </div>
<% end %>

<%= link_to 'Back', repositories_path %>
</div>
