<p id="notice"><%= notice %></p>

<p>
  <strong>Iv:</strong>
  <%= @record.iv %>
</p>

<p>
  <strong>Token:</strong>
  <%= @record.token %>
</p>

<p>
  <strong>File name:</strong>
  <%= @record.file_name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @record.size %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @record.creation %>
</p>

<p>
  <strong>Repositories:</strong>
  <%= @record.repositories %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
