<!DOCTYPE html>
<html>
<head>
  <title>SISO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <h1>SISO</h1>
  <%= image_tag('logo.png', size: '280x60', alt: ' ') if File.exists?("#{Rails.root}/app/images/logo.png") %>
  <div id="clear"></div>
</div>

<div id="content">
  <h2 id="header"><%= yield :header%></h2>

  <div id="material">
    <%= yield %>
  </div>

  <%= yield :info%>
</div>

<%-#<div id="footer"></div>#>-%>
</body>
</html>
